<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @fund_datum.date_id %>
</p>

<p>
  <strong>Period:</strong>
  <%= @fund_datum.period_id %>
</p>

<p>
  <strong>Networth:</strong>
  <%= @fund_datum.networth %>
</p>

<p>
  <strong>Returnbasisrule:</strong>
  <%= @fund_datum.returnBasisRule %>
</p>

<p>
  <strong>Yield:</strong>
  <%= @fund_datum.yield %>
</p>

<p>
  <strong>Onedayyield:</strong>
  <%= @fund_datum.oneDayYield %>
</p>

<p>
  <strong>Oneweekyield:</strong>
  <%= @fund_datum.oneWeekYield %>
</p>

<p>
  <strong>Yieldbenchmarkyieldratio:</strong>
  <%= @fund_datum.yieldBenchmarkYieldRatio %>
</p>

<p>
  <strong>Mean:</strong>
  <%= @fund_datum.mean %>
</p>

<p>
  <strong>Volatility:</strong>
  <%= @fund_datum.volatility %>
</p>

<p>
  <strong>Benchmarkstringid:</strong>
  <%= @fund_datum.benchmarkStringId %>
</p>

<p>
  <strong>Benchmarkyield:</strong>
  <%= @fund_datum.benchmarkYield %>
</p>

<p>
  <strong>Benchmarkvolatility:</strong>
  <%= @fund_datum.benchmarkVolatility %>
</p>

<p>
  <strong>Excessreturn:</strong>
  <%= @fund_datum.excessReturn %>
</p>

<p>
  <strong>Trackingerror:</strong>
  <%= @fund_datum.trackingError %>
</p>

<p>
  <strong>Downsiderisk:</strong>
  <%= @fund_datum.downsideRisk %>
</p>

<p>
  <strong>Sharpe:</strong>
  <%= @fund_datum.sharpe %>
</p>

<p>
  <strong>Sortino:</strong>
  <%= @fund_datum.sortino %>
</p>

<p>
  <strong>Alpha:</strong>
  <%= @fund_datum.alpha %>
</p>

<p>
  <strong>Minimumvariancetrackingerror:</strong>
  <%= @fund_datum.minimumVarianceTrackingError %>
</p>

<p>
  <strong>Informationratio:</strong>
  <%= @fund_datum.informationRatio %>
</p>

<p>
  <strong>Certaintyequivalentaggressive:</strong>
  <%= @fund_datum.certaintyEquivalentAggressive %>
</p>

<p>
  <strong>Certaintyequivalentmoderate:</strong>
  <%= @fund_datum.certaintyEquivalentModerate %>
</p>

<p>
  <strong>Certaintyequivalentconservative:</strong>
  <%= @fund_datum.certaintyEquivalentConservative %>
</p>

<p>
  <strong>Doublenetinvestratingaggressive:</strong>
  <%= @fund_datum.doublenetInvestRatingAggressive %>
</p>

<p>
  <strong>Netinvestratingmoderate:</strong>
  <%= @fund_datum.netInvestRatingModerate %>
</p>

<p>
  <strong>Netinvestratingconservative:</strong>
  <%= @fund_datum.netInvestRatingConservative %>
</p>

<p>
  <strong>Netinvestratingglobalaggressive:</strong>
  <%= @fund_datum.netInvestRatingGlobalAggressive %>
</p>

<p>
  <strong>Netinvestratingglobalmoderate:</strong>
  <%= @fund_datum.netInvestRatingGlobalModerate %>
</p>

<p>
  <strong>Netinvestratingglobalconservative:</strong>
  <%= @fund_datum.netInvestRatingGlobalConservative %>
</p>

<p>
  <strong>Accumulatednetcapitalgain:</strong>
  <%= @fund_datum.accumulatedNetCapitalGain %>
</p>

<p>
  <strong>Betabenchmarkstringid 1:</strong>
  <%= @fund_datum.BetaBenchmarkStringID_1 %>
</p>

<p>
  <strong>Betavalue 1:</strong>
  <%= @fund_datum.BetaValue_1 %>
</p>

<p>
  <strong>Betabenchmarkstringid 2:</strong>
  <%= @fund_datum.BetaBenchmarkStringID_2 %>
</p>

<p>
  <strong>Betavalue 2:</strong>
  <%= @fund_datum.BetaValue_2 %>
</p>

<p>
  <strong>Betabenchmarkstringid 3:</strong>
  <%= @fund_datum.BetaBenchmarkStringID_3 %>
</p>

<p>
  <strong>Betavalue 3:</strong>
  <%= @fund_datum.BetaValue_3 %>
</p>

<p>
  <strong>Betabenchmarkstringid 4:</strong>
  <%= @fund_datum.BetaBenchmarkStringID_4 %>
</p>

<p>
  <strong>Betavalue 4:</strong>
  <%= @fund_datum.BetaValue_4 %>
</p>

<p>
  <strong>Betabenchmarkstringid 5:</strong>
  <%= @fund_datum.BetaBenchmarkStringID_5 %>
</p>

<p>
  <strong>Betavalue 5:</strong>
  <%= @fund_datum.BetaValue_5 %>
</p>

<p>
  <strong>Betabenchmarkstringid 6:</strong>
  <%= @fund_datum.BetaBenchmarkStringID_6 %>
</p>

<p>
  <strong>Betavalue 6:</strong>
  <%= @fund_datum.BetaValue_6 %>
</p>

<p>
  <strong>Betabenchmarkstringid 7:</strong>
  <%= @fund_datum.BetaBenchmarkStringID_7 %>
</p>

<p>
  <strong>Betavalue 7:</strong>
  <%= @fund_datum.BetaValue_7 %>
</p>

<p>
  <strong>Betabenchmarkstringid 8:</strong>
  <%= @fund_datum.BetaBenchmarkStringID_8 %>
</p>

<p>
  <strong>Betavalue 8:</strong>
  <%= @fund_datum.BetaValue_8 %>
</p>

<p>
  <strong>Betabenchmarkstringid 9:</strong>
  <%= @fund_datum.BetaBenchmarkStringID_9 %>
</p>

<p>
  <strong>Betavalue 9:</strong>
  <%= @fund_datum.BetaValue_9 %>
</p>

<p>
  <strong>Betabenchmarkstringid 10:</strong>
  <%= @fund_datum.BetaBenchmarkStringID_10 %>
</p>

<p>
  <strong>Betavalue 10:</strong>
  <%= @fund_datum.BetaValue_10 %>
</p>

<p>
  <strong>Fund:</strong>
  <%= @fund_datum.fund.name %>
</p>

<%= link_to 'Edit', edit_fund_datum_path(@fund_datum) %> |
<%= link_to 'Back', fund_data_path %>
