<p id="notice"><%= notice %></p>

<p>
  <strong>Stringid:</strong>
  <%= @manager.stringId %>
</p>

<p>
  <strong>Name:</strong>
  <%= @manager.name %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @manager.cnpj %>
</p>

<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>
